[data-md-color-scheme="default"] {
  --md-primary-fg-color: #0b3a6e;
  --md-primary-fg-color--light: #4f8fc4;
  --md-primary-fg-color--dark: #06284f;
  --md-accent-fg-color: #2fa4c9;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 44px;
  width: auto;
}
